@import 'editorPane.json';

@mixin editorPane($custom: custom('editorPane')) {
    // Configuration
    $editorPane: config($editorPane, $custom);

    @include module {
        height: calc(100% - #{map-get($header, 'height')});
        margin-left: map-get($editorNav, 'width');
        top: map-get($header, 'height');
        position: relative;
        min-height: 450px;

        @include component('canvas') {
            @include vertical-center;
            @include horizontal-center;

            background: color('greyscale', 'grey-2');
            overflow: hidden;
            width: 600px;
            height: 350px;
        }

        @include component('item') {
            float: left;
            overflow: hidden;

            img {
                display: block;
                width: 100vw;
                height: 100vh;
                object-fit: cover;
            }

            // The below code allows for an infinitely nestable auto-rearranging
            // grid following the pattern outlined in the challenge brief

            $editorPane-gutter: this('item-gutter') / 2;
            $items: 4;

            @if $items != 4 {
                @error '$items must be 4';
            }

            @for $i from 1 through $items {
                &:nth-child(#{$i}) {
                    @for $j from 1 through abs(($i - ($items + 1))) {
                        &:nth-last-child(#{$j}) {
                            width: if($j == 1 and $i % 2 == 1, 100%, calc(50% - #{$editorPane-gutter}));
                            height: if($i + $j < $items, 100%, calc(50% - #{$editorPane-gutter}));
                            @if ($i % 2 == 0) {
                                margin-left: $editorPane-gutter;
                            }
                            @if ($i % 2 == 1 and $j > 1) {
                                margin-right: $editorPane-gutter;
                            }
                            @if ($i > ($items / 2)) {
                                margin-top: $editorPane-gutter;
                            }
                            @if ($i <= ($items / 2) and ($i + $j) >= $items) {
                                margin-bottom: $editorPane-gutter;
                            }
                        }
                    }
                }
            }
        }
    }
}