///****************************************************************
/// One-Nexus - A toolkit for architecting and constructing
/// front-end user-interfaces - https://github.com/esr360/One-Nexus
///
/// @author [@esr360](http://twitter.com/esr360)
///****************************************************************

//*****************************************************************
// Vendor Files
//*****************************************************************

// Sass librarys
@import '../../node_modules/normalize-scss/sass/normalize';
@import '../../node_modules/Kayzen-GS/dist/kayzen-gs.scss';
@import '../../node_modules/Sass-Boost/dist/sass-boost';
@import '../../node_modules/spinners/stylesheets/spinners';
@import '../../node_modules/Synergy/dist/synergy';

//*****************************************************************
// Configuration
//*****************************************************************

// Import global app configuration
@import 'ui.json';

// Merge UI config with app-level config
$ui: map-merge-deep($ui, map-get($app, 'ui'));

// Synergy variables
$modifier-glue     : map-get($ui, 'modifier-glue');
$component-glue    : map-get($ui, 'component-glue');
$sass-config-parser: map-get($ui, 'sass-config-parser');

//*****************************************************************
// Tools
//*****************************************************************

@import 'tools/scss/background';
@import 'tools/scss/custom';
@import 'tools/scss/eval-config';
@import 'tools/scss/fill-parent';
@import 'tools/scss/font-sizes';
@import 'tools/scss/horizontal-center';
@import 'tools/scss/overlay';
@import 'tools/scss/retrieve-value';
@import 'tools/scss/triangle';
@import 'tools/scss/vertical-center';
@import 'tools/scss/vertical-rhythm';

//*****************************************************************
// Utilities
//*****************************************************************

@import 'modules/utilities/grid/grid';
@import 'modules/utilities/colors/colors';
@import 'modules/utilities/container/container';
@import 'modules/utilities/typography/typography';
@import 'modules/utilities/core/core';
@import 'modules/utilities/helpers/helpers';

//*****************************************************************
// Elements
//*****************************************************************

//*****************************************************************
// Objects
//*****************************************************************

//*****************************************************************
// Themes
//*****************************************************************

@import 'themes/canva/theme';